* {
	margin: 0;
	padding: 0;
}

body {
	font-family: sans-serif;
}

.container {
	max-width: 1140px;
	margin: 0 auto;
}

.top {
	min-height: 768px;
	background: linear-gradient(0deg, #ebf3fb 8.84%, rgba(152, 195, 232, 0) 31.12%);
}

.menu {
	list-style: none;
	display: flex;
	justify-content: space-between;
	padding-top: 42px;
}

.top__box {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.top__info {
	padding-top: 115px;
	flex-grow: 1;
	background-image: url(img/illustration.png);
	background-repeat: no-repeat;
	background-position: right 30px;
}

.paragraph-main {
	width: 425px;
}

.top__button {
	font-size: 16px;
	line-height: 26px;
	text-align: center;
	letter-spacing: 0.04em;
	color: #ffffff;
	background: #5a98d0;
	box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
	border-radius: 10px;
	padding: 15px 50px;
	text-decoration: none;
	display: inline-block;
	margin-top: 71px;
}

.what-we-do {
	padding-top: 64px;
}

.what-we-do__cardlist {
	display: flex;
	justify-content: space-between;
	padding-top: 64px;
	padding-bottom: 64px;
}

.card {
	width: 359px;
	padding: 44px 32px;
	box-sizing: border-box;
	box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
	border-radius: 10px;
	background-color: #fff;
	display: flex;
	flex-direction: column;
}

.card__img {
	align-self: center;
	margin-bottom: 51px;
}

.card__img__margin {
	margin-bottom: 46px;
}

.card__link_list {
	display: flex;
}

.card__link {
	font-size: 14px;
	font-weight: 400;
	line-height: 30px;
	letter-spacing: 0.05em;
	color: #5a98d0;
	text-decoration: none;
	margin-right: 24px;
}

.vector {
	width: 15px;
	height: 15px;
	align-self: center;
}

.project__item {
	position: relative;
	flex-grow: 1;
}

.project__parent {
	display: flex;
	justify-content: space-between;
	margin-top: 32px;
	position: relative;
	margin-bottom: 112px;
}

.project__item_margin {
	margin-right: 32px;
}

.project__img {
	width: 100%;
}

.project__text {
	font-size: 32px;
	font-weight: 400;
	line-height: 46px;
	letter-spacing: 0.05em;
	color: #fff;
	position: absolute;
	top: 64px;
	right: 64px;
}

.project__parent_text {
	font-size: 32px;
	font-weight: 400;
	line-height: 46px;
	letter-spacing: 0.05em;
	color: #fff;
	position: absolute;
	top: 32px;
	left: 32px;
}

.footer {
	background: #316099;
}

.footer__top {
	display: flex;
}

.footer__text {
	margin: 91px 208px 96px 114px;
	width: 495px;
	text-align: left;
	font-size: 30px;
	font-weight: normal;
	line-height: 46px;
	letter-spacing: 0.05em;
	color: #fff;
}

.footer__text_header {
	width: 340px;
	text-align: left;
	margin-bottom: 32px;
}

.footer__link {
	font-size: 16px;
	line-height: 26px;
	text-align: center;
	letter-spacing: 0.04em;
	color: #ffffff;
	background: #5a98d0;
	box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
	padding: 15px 80px;
	text-decoration: none;
	display: inline-block;
	align-self: center;
}

hr {
	opacity: 40%;
}

.footer__bottom {
	padding-left: 114px;
}

.footer__info {
	display: flex;
	justify-content: space-around;
	flex-grow: 1;
	margin-top: 64px;
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
	letter-spacing: 0.05em;
	color: #fff;
	align-self: center;
}

.footer__info_list {
	width: 316px;
	padding-right: 32px;
}

.paragraph {
	font-size: 16px;
	line-height: 26px;
	color: #1f3f68;
	letter-spacing: 4%;
	opacity: 0.6;
}

.footer__paragraph {
	color: #fff;
}

.paragraph__project {
	color: #222222;
	width: 75%;
	margin: 32px auto 64px;
	opacity: 1;
	text-align: center;
}

.heading-main {
	width: 510px;
	font-weight: 300;
	font-size: 64px;
	line-height: 74px;
	letter-spacing: 0.04em;
	color: #1f3f68;
}

.heading-contacts {
	font-weight: 500;
	font-size: 44px;
	text-align: center;
}

.heading-mid {
	font-size: 36px;
	font-weight: 300;
	line-height: 46px;
	letter-spacing: 0.05em;
	text-align: center;
}

.heading-mini {
	font-size: 20px;
	line-height: 30px;
	color: #1f3f68;
	letter-spacing: 0.05em;
	margin-bottom: 14px;
}

.footer__copy {
	padding: 64px 0px 64px 0px;
}

.top-contacts {
	background-image: url(img/contacts.svg);
	background-repeat: no-repeat;
	background-size: cover;
	width: 100vw;
	position: relative;
	left: calc(-50vw + 50%);
	color: #ffffff;
	margin-top: 54px;
	margin-bottom: 57px;
}

.heading-contacts {
	font-weight: 500;
	font-size: 44px;
	line-height: 74px;
	text-align: center;
	letter-spacing: 0.04em;
	padding-top: 50px;
}

.paragraph-contacts {
	font-size: 20px;
	line-height: 30px;
	text-align: center;
	letter-spacing: 0.04em;
	opacity: 60%;
	padding-bottom: 50px;
}

.link {
	display: flex;
	justify-content: space-around;
	margin-bottom: 150px;
}

.contacts-info {
	max-width: 300px;
}

.contacts-photo {
	margin-bottom: 54px;
}

.heading-mini-contacts {
	font-weight: 500;
	font-size: 20px;
	line-height: 30px;
	letter-spacing: 0.04em;
	color: #1f3f68;
	text-transform: uppercase;
}

.heading-mini-contacts_margin {
	margin-top: 40px;
}

.paragraph-cont {
	font-weight: 300;
	font-size: 16px;
	line-height: 26px;
	letter-spacing: 0.04em;
	opacity: 0.6;
	color: #1f3f68;
}

.contacts-phones {
	font-weight: 300;
	font-size: 16px;
	line-height: 26px;
	letter-spacing: 0.04em;
	opacity: 0.6;
	color: #1f3f68;
}

.contacts-phones li {
	list-style-type: none;
	background: url(img/phonetube.svg) no-repeat 0px 5px;
	padding-left: 40px;
}

.contacts-service {
	font-weight: 300;
	font-size: 16px;
	line-height: 26px;
	letter-spacing: 0.04em;
	opacity: 0.6;
	text-decoration: none;
	color: #1f3f68;
}

.contacts-service li > a {
	text-decoration: none;
	color: #1f3f68;
}

.contacts-service li > a:hover {
	text-decoration: underline;
}

.contacts-service li:first-child {
	list-style-type: none;
	background: url(img/link.svg) no-repeat 0px 5px;
	padding-left: 40px;
}
.contacts-service li:last-child {
	list-style-type: none;
	background: url(img/mail.svg) no-repeat 0px 5px;
	padding-left: 40px;
}

.form {
	background: #ffffff;
	box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
	border-radius: 10px;
	padding: 56px;
}

.heading-mini-contacts-form_margin {
	margin-bottom: 48px;
}

.form-text {
	font-size: 16px;
	line-height: 30px;
	letter-spacing: 0.04em;
	color: #1f3f68;
	opacity: 0.8;
}

.entry {
	border: 1px solid #356ead;
	box-sizing: border-box;
	border-radius: 10px;
	opacity: 0.4;
	margin-bottom: 32px;
	width: 430px;
	height: 72px;
	padding-left: 40px;
}

.entry-textarea {
	border: 1px solid #356ead;
	box-sizing: border-box;
	border-radius: 10px;
	opacity: 0.4;
	margin-bottom: 32px;
	width: 430px;
	height: 144px;
	padding-top: 20px;
	padding-left: 40px;
}

.button {
	background: #5a98d0;
	box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
	border-radius: 10px;
	font-weight: 500;
	font-size: 16px;
	line-height: 26px;
	text-align: center;
	color: #ffffff;
	text-transform: uppercase;
	padding: 23px 183px;
	align-self: center;
	border: none;
}

.map {
	margin-bottom: 112px;
}

@media (max-width: 1024px) {
	.container {
		padding-left: 32px;
		padding-right: 32px;
	}
	.top__info {
		background-size: 44%;
		background-position: right 280px;
		min-height: 520px;
	}
	.what-we-do__cardlist {
		flex-direction: column;
		align-items: center;
	}
	.card {
		margin-bottom: 32px;
	}
	.footer__link {
		padding: 5px 25px;
	}
	.footer__bottom {
		padding-left: 124px;
	}
	.footer__text {
		margin: 47px 50px 64px 124px;
		width: 336px;
	}
	.footer__info {
		flex-direction: column;
	}
	.footer__info_list {
		width: 100%;
		margin-bottom: 25px;
	}
	.link {
		flex-direction: column;
		align-items: center;
	}
	.contacts-service {
		margin-bottom: 64px;
	}
}

@media (max-width: 667px) {
	.container {
		padding-right: 16px;
		padding-left: 16px;
	}
	.top {
		min-height: 376px;
		padding-bottom: 41px;
		box-sizing: border-box;
	}
	.menu {
		padding-top: 24px;
	}
	.heading-main {
		width: 100%;
		font-size: 32px;
		line-height: 37px;
		margin-bottom: 12px;
		text-align: center;
	}
	.paragraph-main {
		width: 100%;
		text-align: center;
	}
	.top__info {
		padding-top: 36px;
		display: flex;
		flex-direction: column;
		align-items: center;
		background-image: none;
		min-height: 100%;
	}
	.top__button {
		font-size: 12px;
		line-height: 26px;
		padding: 0 8px;
	}
	.what-we-do {
		padding-top: 48px;
	}
	.heading-mid {
		font-size: 24px;
		line-height: 28px;
	}
	.what-we-do__cardlist {
		padding-top: 32px;
	}
	.card {
		width: 100%;
	}
	.paragraph__project {
		width: 100%;
	}
	.project__text {
		font-size: 16px;
		line-height: 19px;
		top: 16px;
		right: 16px;
	}
	.project__parent {
		flex-direction: column;
		margin-top: 16px;
	}
	.project__item_margin {
		margin-right: 0;
		margin-bottom: 16px;
	}
	.project__parent_text {
		font-size: 16px;
		line-height: 19px;
		left: 16px;
	}
	.footer__top {
		flex-direction: column;
	}
	.footer__text {
		text-align: center;
		margin: 0 auto;
		width: 100%;
		margin-bottom: 40px;
		margin-top: 16px;
	}
	.footer__text_header {
		text-align: center;
		width: 100%;
	}
	.footer__link {
		margin-bottom: 41px;
	}
	.footer__bottom {
		padding-left: 16px;
	}
	.footer__info {
		margin-top: 32px;
	}
	.footer__info_list {
		padding-right: 0;
	}
	.footer__info_list_margin {
		margin-bottom: 0;
	}
	.footer__copy {
		padding: 32px 0 32px 0px;
	}
	.form-text {
		font-size: 14px;
		line-height: 30px;
	}
	.heading-contacts {
		font-size: 24px;
	}
	.paragraph-contacts {
		font-size: 16px;
	}
	.heading-mini-contacts-form_margin {
		font-size: 16px;
		line-height: 30px;
	}
	.entry {
		width: 100%;
	}
	.entry-textarea {
		width: 100%;
	}
	.button {
		padding: 15px 60px;
		position: relative;
		left: 50%;
		transform: translate(-50%, 0);
	}
}
